body{

    font-family: "Open Sans", sans-serif;
    
}
.btn-primary{
    border-radius: 5px;
    border: 0;
    background: rgb(253, 110, 10);
    width: 150px;
    height: 64px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 169px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
   
}
.nav-r{
     color: #FD6E0A;
}
.nav-ul{
    display: flex;
    gap: 50px;
    align-items: center;
}
nav li {
    list-style: none;
   
}
nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}
header{
    background: rgb(255, 248, 243);
    background-image: url("images/header_bg.png") ,url("images/Developer.png");
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}


.banner{
    padding: 20px 38px 0px 180px;
    display: flex;
    align-items: center;
    
}
.banner > img {
    width: 500px;
}
.banner-grettings{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
}
.banner-title{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
}
.banner-p{
    color: rgb(117, 117, 117);
    margin: 20px;
    font-size: 18px;
    font-weight: 400;  
}
/* main section */
.main{
        max-width: 1140px;
        margin: auto;
        align-items: center;
    }
.about-section{
    background-color: FFF8F3;
    height:288px ;
    width:827px;
    margin: auto;
    text-align: center;
    
}